apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-app
  namespace: java-app-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-app
  template:
    metadata:
      labels:
        app: java-app
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
      - name: java-app
        image: uri:tag-123
        ports:
        - containerPort: 8080
