apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: 168400405045.dkr.ecr.us-east-1.amazonaws.com/java-app
    newName: 168400405045.dkr.ecr.us-east-1.amazonaws.com/java-app
    newTag: d9f6016
