apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-app
  namespace: java-app-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: java-app
  template:
    metadata:
      labels:
        app: java-app
    spec:
      serviceAccountName: jenkins-deployer
      imagePullSecrets:
        - name: ecr-secret
      containers:
      - name: java-app
        image: 168400405045.dkr.ecr.us-east-1.amazonaws.com/java-app:latest
        ports:
        - containerPort: 9090
