apiVersion: v1
kind: Service
metadata:
  name: java-app
  namespace: java-app-ns
spec:
  type: NodePort
  selector:
    app: java-app
  ports:
    - port: 80
      targetPort: 9090
      nodePort: 30080
